@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <div class="row p-1">
            <div class="col-1">User</div>
            <div class="col-5"><input type="text" name="QRCodeText" /></div>
        </div>
    </form>
        <div><img width="200" src="@ViewData["QrCodeUri"]" /></div>
</div>
